/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img, video {
  max-width: 100%;
  height: auto;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
p{
  margin: 0;
}
